<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h5 class="card-title">Books</h5>
        <div class="card-header-elements">
            <app-simple-search [pageSize]="pageSize" [currentPage]="currentPage" (searchEvent)="onSearch($event)">
            </app-simple-search>
            <button class="btn btn-primary d-flex mr-1" type="button" (click)="create()">
                <i class="material-icons mr-1">add</i>
                Create
            </button>
            <button class="btn btn-primary d-flex" type="button" (click)="createMasterDetail()">
                <i class="material-icons mr-1">add</i>
                Create Master-Detail
            </button>
        </div>
    </div>
    <hr class="m-0">
    <div class="card-body">
        <div id="table">
            <app-loading [loading]="loading"></app-loading>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Synopsis</th>
                        <th scope="col">Publication Date</th>
                        <th scope="col">Author</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr align="center" *ngIf="listIsEmpty">
                        <td colspan="100">No books found.</td>
                    </tr>
                    <tr *ngFor="let book of books">
                        <td>{{ book.id }}</td>
                        <td>{{ book.name }}</td>
                        <td>{{ book.synopsis }}</td>
                        <td>{{ book.publicationDate | date:'dd/MM/yyyy':'UTC' }}</td>
                        <td>
                            <div *ngFor="let author of book.authors">
                                {{ author.name }}
                            </div>
                        </td>
                        <td align="center">
                            <button class="btn bg-transparent" type="button" (click)="view(book.id)">
                                <i class="material-icons">visibility</i>
                            </button>
                            <button class="btn bg-transparent" type="button" (click)="edit(book.id)">
                                <i class="material-icons text-primary">create</i>
                            </button>
                            <button class="btn bg-transparent" type="button" (click)="confirmDelete(book)"
                                data-toggle="modal" data-target="#exampleModal">
                                <i class="material-icons text-danger">delete</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <div class="datatable-footer" [hidden]="listIsEmpty">
            <app-pagination [totalRecords]="totalRecords" [setTotalPages]="totalPages"
                (pageChanged)="onChangePaginator($event)" (pageSizeChanged)="onChangePageSize($event)"></app-pagination>
        </div>
    </div>
</div>

<app-delete-confirmation (onOk)="delete()"></app-delete-confirmation>