<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h5 class="card-title">Books</h5>
        <div class="card-header-elements">
            <app-simple-search [pageSize]="listUtils.pageSize" [currentPage]="listUtils.currentPage" (searchEvent)="listUtils.onSearch($event)">
            </app-simple-search>
            <button id="createButton" class="btn btn-primary d-flex mr-1" type="button" (click)="listUtils.create()">
                <i class="material-icons mr-1">add</i>
                Create
            </button>
            <button id="createMasterDetailButton" class="btn btn-primary d-flex" type="button"
                (click)="createMasterDetail()">
                <i class="material-icons mr-1">add</i>
                Create Master-Detail
            </button>
        </div>
    </div>
    <hr class="m-0">
    <div class="card-body">
        <div id="table">
            <app-loading [loading]="listUtils.loading"></app-loading>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Synopsis</th>
                        <th scope="col">Publication Date</th>
                        <th scope="col">Author</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr align="center" *ngIf="listUtils.listIsEmpty">
                        <td colspan="100">No books found.</td>
                    </tr>
                    <tr *ngFor="let book of listUtils.items; let i = index">
                        <td id="idBook-{{i}}">{{ book.id }}</td>
                        <td id="nameBook-{{i}}">{{ book.name }}</td>
                        <td id="synopsisBook-{{i}}">{{ book.synopsis }}</td>
                        <td id="publicationDateBook-{{i}}">{{ book.publicationDate | date:'dd/MM/yyyy':'UTC' }}</td>
                        <td>
                            <div *ngFor="let author of book.authors">
                                {{ author.name }}
                            </div>
                        </td>
                        <td align="center">
                            <button id="viewBook-{{i}}" class="btn bg-transparent" type="button"
                                (click)="listUtils.view(book)">
                                <i class="material-icons">visibility</i>
                            </button>
                            <button id="editBook-{{i}}" class="btn bg-transparent" type="button"
                                (click)="listUtils.edit(book)">
                                <i class="material-icons text-primary">create</i>
                            </button>
                            <button id="deleteBook-{{i}}" class="btn bg-transparent" type="button"
                                (click)="listUtils.setRemove(book)">
                                <i class="material-icons text-danger">delete</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <div class="datatable-footer" [hidden]="listUtils.listIsEmpty">
            <app-pagination [totalRecords]="listUtils.totalRecords" [setTotalPages]="listUtils.totalPages"
                (pageChanged)="listUtils.onChangePaginator($event)" (pageSizeChanged)="listUtils.onChangePageSize($event)"></app-pagination>
        </div>
    </div>
</div>

<app-delete-confirmation (onOk)="listUtils.remove()"></app-delete-confirmation>
