<div class="card">
  <div class="card-header d-flex justify-content-between">
    <div *ngIf="!editHandler.isEditMode" class="card-title d-flex align-items-center">Create an Author</div>
    <div *ngIf="editHandler.isEditMode" class="card-title d-flex align-items-center">Edit an Author</div>
    <div class="card-header-elements">
      <button id="backButton" class="btn btn-primary d-flex" type="button" (click)="editHandler.backToList()">
        <i class="material-icons mr-1">keyboard_backspace</i>
        Back
      </button>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="editHandler.form" (ngSubmit)="editHandler.onSubmit()">
      <div class="row justify-content-around">
        <div class="col-md-4">
          <div class="form-group">
            <label for="nameAuthor">Name</label>
            <input formControlName="name" type="text" class="form-control" id="nameAuthor"
                   placeholder="Enter a name">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="booksAuthor">Books</label>
            <ng-select id="booksAuthor" [items]="books" bindLabel="name" [multiple]="true" formControlName="books"
                       [loading]="booksLoading" [typeToSearchText]="'Type to search'" placeholder="Type to search"
                       (search)="searchBooks($event)">
            </ng-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex justify-content-end">
            <button id="submitButton" class="btn btn-success" type="submit" [disabled]="!editHandler.form.valid">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
