<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h5 class="card-title">{{ editHandler.isEditMode ? 'Edit' : 'Create' }} a Book</h5>
        <div class="card-header-elements">
            <button id="backButton" class="btn btn-primary d-flex" type="button" (click)="editHandler.backToList()">
                <i class="material-icons mr-1">keyboard_backspace</i>
                Back
            </button>
        </div>
    </div>
    <div class="card-body">
        <form [formGroup]="editHandler.form" (ngSubmit)="editHandler.onSubmit()">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="nameBook">Name</label>
                        <input formControlName="name" type="text" class="form-control" id="nameBook"
                            placeholder="Enter a name">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="authorsBook">Authors</label>
                        <!-- <input type="text" class="form-control" id="name" placeholder="Enter a name"> -->
                        <ng-select id="authorsBook" [items]="authors" bindLabel="name" [multiple]="true"
                            formControlName="authors" [typeToSearchText]="'Type to search'" (search)="searchAuthors($event)"
                            placeholder="Enter a name" [loading]="authorsLoading"></ng-select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="publicationDateBook">Publication Date</label>
                        <input formControlName="publicationDate" type="date" class="form-control" id="publicationDateBook"
                            placeholder="Date of publication">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="synopsisBook">Synopsis</label>
                        <textarea formControlName="synopsis" class="form-control" id="synopsisBook" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex justify-content-end">
                        <button id="submitButton" class="btn btn-success" type="submit" [disabled]="!editHandler.form.valid">{{ editHandler.isEditMode ? 'Update' : 'Create' }}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
