<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h5 class="card-title">{{ isEditMode ? 'Edit' : 'Create' }} a Book</h5>
        <div class="card-header-elements">
            <button class="btn btn-primary d-flex" type="button" (click)="backToList()">
                <i class="material-icons mr-1">keyboard_backspace</i>
                Back
            </button>
        </div>
    </div>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input formControlName="name" type="text" class="form-control" id="name"
                            placeholder="Enter a name">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name">Authors</label>
                        <!-- <input type="text" class="form-control" id="name" placeholder="Enter a name"> -->
                        <ng-select [items]="authors" bindLabel="name" [multiple]="true"
                            formControlName="authors" [typeToSearchText]="'Digite para buscar'"
                            placeholder="Enter a name"></ng-select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="date">Publication Date</label>
                        <input formControlName="publicationDate" type="date" class="form-control" id="date"
                            placeholder="Date of publication">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="synopsis">Synopsis</label>
                        <textarea formControlName="synopsis" class="form-control" id="synopsis" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-success" type="submit" [disabled]="!form.valid">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>