<ngx-smart-modal [identifier]="identifier" [id]="identifier" (onOpen)="openModal()" (onAnyCloseEvent)="closeModal()"
    [closable]="false">

  <div class="d-flex justify-content-between px-3 pt-3">
    <h5 class="card-title">{{ isEditMode ? 'Edit' : 'Create' }} a Book</h5>
    <div class="card-elements">
      <i (click)="closeModal()" class="material-icons hover-link">close</i>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="nameBook">Name</label>
            <input formControlName="name" type="text" class="form-control" id="nameBook"
                   placeholder="Enter a name">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="publicationDateBook">Publication Date</label>
            <input formControlName="publicationDate" type="date" class="form-control" id="publicationDateBook"
                   placeholder="Date of publication">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="synopsisBook">Synopsis</label>
            <textarea formControlName="synopsis" class="form-control" id="synopsisBook" rows="3"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex justify-content-end">
            <button id="submitBookButton" class="btn btn-success" type="submit" [disabled]="!form.valid">{{ isEditMode ? 'Update' : 'Create' }}</button>
          </div>
        </div>
      </div>
    </form>
  </div>

</ngx-smart-modal>
